{% extends 'forum/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title_block %}
    Home
    
{%  endblock %}

{% block header_block %}
    
{% endblock %}

{% block body_block %}

<div class="'container border-bottom">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
            <div class="col-md-4">
                <a href="">
                    <h3 class="topic-name">{{ topics.0.name }}</h3>
                    <p class="topic description">
                        {{ topics.0.description }}
                    </p>
                    <img src="{% static 'images/hot-post.jpeg' %}" alt="hot-post" class="topic-image" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                   <h3 class="topic-name">{{ topics.1.name }}</h3>
                <p class="topic description">
                    {{ topics.1.description }}
                </p>
                <img src="{% static 'images/used-sale.jpeg' %}" alt="sale-used" class="topic-image" /> 
                </a>
                
            </div>
    
            <div class="col-md-4">
                <a href="">
                    <h3 class="topic-name">{{ topics.2.name }}</h3>
                    <p class="topic description">
                    {{ topics.2.description }}
                     </p>
                    <img src="{% static 'images/rent.jpeg' %}" alt="rent" class="topic-image" />
                </a>
                
            </div>
            
            <div class="col-md-4">
                <a href="">
                    <h3 class="topic-name">{{ topics.3.name }}</h3>
                <p class="topic description">
                    {{ topics.3.description }}
                </p>
                <img src="{% static 'images/activity.jpeg' %}" alt="activity" class="topic-image" />
                </a>
                
            </div>

            <div class="col-md-4">
                <a href="">
                    <h3 class="topic-name">{{ topics.4.name }}</h3>
                    <p class="topic description">
                        {{ topics.4.description }}
                    </p>
                    <img src="{% static 'images/university.jpeg' %}" alt="university" class="topic-image" />
                </a>
                
            </div>

            <div class="col-md-4">
                <a href="">
                    <h3 class="topic-name">{{ topics.5.name }}</h3>
                <p class="topic description">
                    {{ topics.5.description }}
                </p>
                <img src="{% static 'images/coffee-break.jpeg' %}" alt="coffee-break" class="topic-image" />
                </a>
                
            </div>
            
           
            
            
            
           

        
    </div>
</div>

{% endblock %}
