{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{%  endblock %}

{% block header_block %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    Welcome to Glasgow Online Forum
{% endblock %}

{% block body_block %}

<div class="'container">
    <section class="section">
        <h1 class="section-heading">Six topic pages</h1>
        <div class="all-topic-page">
            <a href="#" class="topic-link">
                <img src="{% static 'images/hot-post.jpeg' %}" alt="hot-post" class="topic-image" />
                <h3 class="topic-name">Hot Posts</h3>
            <!-- <p class="topic description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                        commodi possimus iure hic excepturi. Corporis!
            </p> -->
            </a>
            
            <a href="#" class="topic-link">
                <img src="{% static 'images/used-sale.jpeg' %}" alt="sale-used" class="topic-image" />
                <h3 class="topic-name">Sale of Used Items</h3>
            </a>

            <a href="#" class="topic-link"></a>
                <img src="{% static 'images/rent.jpeg' %}" alt="rent" class="topic-image" />
                <h3 class="topic-name">Flats to Rent</h3>
            </a>
            
            <a href="#" class="topic-link"></a>
                <img src="{% static 'images/activity.jpeg' %}" alt="activity" class="topic-image" />
                <h3 class="topic-name">Activities</h3>
            </a>

            <a href="#" class="topic-link"></a>
                <img src="{% static 'images/university.jpeg' %}" alt="university" class="topic-image" />
                <h3 class="topic-name">Universities</h3>
            </a>

            <a href="#" class="topic-link"></a>
                <img src="{% static 'images/coffee-break.jpeg' %}" alt="coffee-break" class="topic-image" />
                <h3 class="topic-name">Coffee Break</h3>
            </a>
        </div>
    </section>
    <script src="script.js"></script>
</div>

{% endblock %}
