{% extends 'forum/base.html' %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title_block %}
    {% if post %}
        {{ post.name }}
    {% else %}
        Unknown post
    {% endif %}
{%  endblock %}


{% block body_block %}

    <a href="/forum/topic/{{ post.parent_module }}"> <button type="button">Go back</button></a> <br />

    {% if post %}
        <h1>{{ post.title }}</h1>
        <h5>  Author:  {{ post.poster }}  </h5>
        <h5>  Publish date: {{ post.create_time}} </h5>
        <h2>{{ post.content }}</h2>
        
        <h5> Views: {{ post.views }} Likes: {{ post.likes }}</h5>

    {% else %}
        No Page Here!
    {% endif %}
        


    <script type="text/javascript">
        function show()
            {
                var value = document.getElementById("div1").style.display;
                if(value=="none")
                {
                    document.getElementById("div1").style.display="block";
                    document.getElementById("div2").style.display="none";
                }
                else
                    document.getElementById("div1").style.display="none";
            }
    </script>
    <div id="div2" style="display:block">
        <input type="button" value="Reply" onClick="show()"/>
    </div>

    <div id="div1" style="display:none">
        <textarea rows="10" cols="100" value="56"></textarea>
        <p><input type="submit" value="Submit" /></p>
    </div>


{% endblock %}