{% extends 'forum/base.html' %}

{% block title_block %}
    Publish a post
{%  endblock %}



{% block body_block %}
<div style="position:relative;left:120px;">
<a href="{% url 'forum:topic' standards.0.name %}"> <button type="button">Return</button></a> <br />
<body class="home" style="font-size: 18px">
    
    
    <h3>Publish a post</h3>
    <form accept-charset="UTF-8" action="{% url 'forum:publish' %}" class="publish" id="new_topic" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <table width="100%" border="0" cellspacing="0" cellpadding="6">
            <colgroup>
                <col width="140">
                <col>
            </colgroup>
            <tbody>
    
            <tr>
                <th>Title</th>
                <td>
                    <label>
                        <input required id="topic_title" maxlength="80" name="title" size="60" type="text">
                    </label>
                </td>
            </tr>

            <tr>
                <th valign="top">Content</th>
                <td>
                    <div class="body_count">
                        <textarea style="width: 700px;" cols="62" rows="20" name="content"></textarea>
                    </div>
                </td>
            </tr>
    
            <tr>
                <th>Cover image</th>
                <td>
    
                    <div>
                        <input type="file" name="picture" accept="image/*">
                    </div>
                </td>
            </tr>
    
            <tr>
                <th>Topic</th>
                <td>
                    <div>
                        <select name="parent_module">
                            <option value ="hot posts">Hot Posts</option>
                            <option value ="sale of used item">Sale of Used Items</option>
                            <option value ="flats to rent">Flats to Rent</option>
                            <option value ="activity">Activities</option>
                            <option value ="university">Universities</option>
                            <option value ="coffee break">Coffee Break</option>
                        </select>
                    </div>
                </td>
            </tr>
    
            <tr>
                <th></th>
                <td>
                    <button type="submit">Publish</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}