{% extends 'forum/base.html' %}
{% load staticfiles %}
    

{% block title_block %}
    {% if topic %}
        {{ topic.name }}
    {% else %}
        Unknown topic
    {% endif %}
{%  endblock %}


{% block body_block %}
    <div style="position:relative;left:26px;">
    <a href="{% url 'forum:topic' standards.0.name%}"><button type="button">{{ topiclist.0.name }}</button></a>  <a href="{% url 'forum:topic' standards.1.name%}"><button type="button">{{ topiclist.1.name }}</button></a>  <a href="{% url 'forum:topic' standards.2.name%}"><button type="button">{{ topiclist.2.name }}</button></a>  <a href="{% url 'forum:topic' standards.3.name%}"><button type="button">{{ topiclist.3.name }}</button></a>  <a href="{% url 'forum:topic' standards.4.name%}"><button type="button">{{ topiclist.4.name }}</button></a>  <a href="{% url 'forum:topic' standards.5.name%}"><button type="button">{{ topiclist.5.name }}</button></a>
    </div>
    {% if topic %}
    <div style="position:relative;left:26px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ topic.name }}</li>
            </ol>
          </nav>

            {% if user.is_authenticated %}
            <!-- user login to publish the posts -->
                <a href="{% url 'forum:publish' %}"><button type="button">Publish a new post</button></a> <br />
            {% endif %}
    </div>
            {% if posts %}
                <ul>
                    <!-- show post list -->
                    {% for post in posts %}
                        <div class="list-group">
                            <a href="{% url 'forum:post' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start ">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ post.title }}</h5>
                                <small>Publish date: {{ post.create_time}}</small>
                              </div>
                              <div class="d-flex w-100 justify-content-between">
                               <p class="mb-1">{{ post.content }}</p>   
                               <small>Views: {{ post.views }}</small>
                              </div>
                              <div class="d-flex w-100 justify-content-between">
                               <small>Author:  {{ post.poster }} </small>   
                               <small>Likes: {{ post.likes }}</small>
                              </div>
                              
                            </a>
                                
                                
                          </div>
                    {% endfor %}
                </ul>
            {% else %}
                <div style="position:relative;left:26px;">
                <strong>No posts currently in topic.</strong></div>
            {% endif %}

    {% else %}
        The specified topic does not exist.
    {% endif %}


{% endblock %}