{% extends 'forum/base.html' %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title_block %}
    {% if topic %}
        {{ topic.name }}
    {% else %}
        Unknown topic
    {% endif %}
{%  endblock %}


{% block body_block %}
    <a href="/forum/topic/{{ standards.0.name }}"><button type="button">{{ topiclist.0.name }}</button></a>  <a href="/forum/topic/{{ standards.1.name }}"><button type="button">{{ topiclist.1.name }}</button></a>  <a href="/forum/topic/{{ standards.2.name }}"><button type="button">{{ topiclist.2.name }}</button></a>  <a href="/forum/topic/{{ standards.3.name }}"><button type="button">{{ topiclist.3.name }}</button></a>  <a href="/forum/topic/{{ standards.4.name }}"><button type="button">{{ topiclist.4.name }}</button></a>  <a href="/forum/topic/{{ standards.5.name }}"><button type="button">{{ topiclist.5.name }}</button></a>
    {% if topic %}
        <h1>{{ topic.name }}</h1>

            {% if user.is_authenticated %}
                <a href="/forum/publish"><button type="button">Publish a new post</button></a> <br />
            {% endif %}

            {% if posts %}
                <ul>
                    {% for post in posts %}
                        <li><a href="/forum/post/{{ post.id }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No posts currently in topic.</strong>
            {% endif %}

    {% else %}
        The specified topic does not exist.
    {% endif %}


{% endblock %}